# 设置npm镜像源为淘宝镜像
registry=https://registry.npmmirror.com

# 设置node-sass的二进制文件下载源
sass_binary_site=https://npmmirror.com/mirrors/node-sass/

# 设置electron的二进制文件下载源
electron_mirror=https://npmmirror.com/mirrors/electron/

# 设置phantomjs的二进制文件下载源
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/

# 设置chromedriver的二进制文件下载源
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver

# 设置operadriver的二进制文件下载源
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver

# 设置selenium的二进制文件下载源
selenium_cdnurl=https://npmmirror.com/mirrors/selenium

# 设置node-inspector的二进制文件下载源
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector

# 设置fsevents的二进制文件下载源
fsevents_binary_host_mirror=http://npmmirror.com/mirrors/fsevents/

# 设置package-lock.json的保存
package-lock=true

# 设置依赖安装时使用精确版本
save-exact=true 